* {
  margin: 0;
}
.app {
  background-color: #eeeeee;
  height: 100%;
}
.app__posts{
  padding: 20px;
  display: flex;
}

.app__header {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid rgb(182, 182, 182);
  object-fit: contain;
  display: flex;
  justify-content: space-between;
}

.app__signup{
  background-color: white;
  margin: 50;
  display: flex;
  text-align: center;
  flex-direction: column;
  
}